<!DOCTYPE html>
<html lang="en">
    
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="/styles/editProd.css">
 
<body>
    <%- include ('./partials/header') %> 
    <main>
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Edicion de Producto</h2>

                </div>
                <div class="row clearfix">
                    <div class="">
                        <form action="/Producto/editar-producto/<%=productToEdit.id%>?_method=PUT" method="POST">
                            <div class="input_field"> 
                                <input type='texto' name="product_name" placeholder="Nombre del Producto" required value="<%=productToEdit.product_name%>">
                            </div>
                            <div class="input_field"> 
                                <textarea name="descripcion" id= "descripcion" placeholder="Editar descripci칩n detallada del producto"> <%=productToEdit.description%></textarea>
                            </div>
                            <div class="input_field"> 
                                <input type="file"  id="foto producto" name="image" accept="image/png, image/jpeg">
                            </div>
                            <div class="row clearfix">
                                <div>
                                    <div class="input_field"> 

                                       <label>Editar categoria seleccionada:</label>
                                            <select name="category">
                                             <option value="tortas"<%=productToEdit.category=="Tortas"? "selected" : null%>>Tortas</option>
                                             <option value="tartas"<%=productToEdit.category=="Tartas"? "selected" : null%>>Tartas</option>
                                             <option value="muffins"<%=productToEdit.category=="Muffins"? "selected" : null%>>Muffins</option>
                                             <option value="cookies&masas"<%=productToEdit.category=="cookies&masas"? "selected" : null%>>Cookies y Masas</option>
                                            </select>
                                    </div>
                                    
                                    <div class="input_field"> 

                                        <label>Editar Tama침o/Unidades:</label>
                                             <select name="Tama침o">
                                              <option value="mediana">Chica</option>
                                              <option value="grande">Grande</option>
                                              <option value="docena">Docena</option>
                                              <option value="mediadocena">Media Docena</option>
                                             </select>
                                     </div>
                                     <div class="input_field"> 
                                        <input type='text' name="price" placeholder="Editar Precio del Producto" required value="<%=productToEdit.price_1%>">
                                    </div>

                                </div>
                            </div>
                                <div>
                                    <input class="button" type="submit" value="Cargar Nueva Edici칩n">
                                    <!--<form action="/Productos/?_method=DELETE" method="POST" >
                                        <button type="submit" class="button-delete">Eliminar</button>>

                                    </form>-->
                                    <input class="button" type="reset" value="Eliminar">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include ('./partials/footer') %> 
</body>
</html>