<!DOCTYPE html>
<html lang="en">
    
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="/styles/editProd.css">
 
<body>
    <%- include ('./partials/header') %> 
    <main>
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Edicion de Producto</h2>

                </div>
                <div class="row clearfix">
                    <div class="">
                        <form action="/Productos/editar-producto/<%=productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="input_field"> 
                                <label> Producto a Editar:</label>
                                <input type='text' name="product_name" placeholder="Nombre del Producto" required value="<%=productToEdit.product_name%>">
                            </div>
                            <div class="input_field"> 
                                <label> Descripción a Editar:</label> <br>
                                <textarea name="product_descripcion" id= "descripcion" placeholder="Editar descripción detallada del producto"> <%=productToEdit.product_description%></textarea>
                            </div>
                            <div class="input_field"> 
                                <label> Foto a Editar:</label>
                                <input type="file"  id="foto producto" name="image" accept="image/png, image/jpeg">
                                <input type="hidden"  id="foto producto" name="oldimage" value='<%=productToEdit.image%>' accept="image/png, image/jpeg">
                            </div>
                            <div> <img src="/img/products-img/<%=productToEdit.image%>" alt="torta1"> </div>
                            <div class="row clearfix">
                                <div>
                                    <div class="input_field"> 

                                       <label>Categoría a Editar:</label>
                                            <select name="category_id">
                                             <option value="1"<%=productToEdit.category_id=="1"? "selected" : null%>>Tortas</option>
                                             <option value="2"<%=productToEdit.category_id=="2"? "selected" : null%>>Tartas</option>
                                             <option value="3"<%=productToEdit.category_id=="3"? "selected" : null%>>Muffins</option>
                                             <option value="4"<%=productToEdit.category_id=="4"? "selected" : null%>>Cookies y Masas</option>
                                            </select>
                                    </div>
                                    
                                    <!-- <div class="input_field"> 

                                        <label>Tamaño/Unidades a Editar:</label>
                                             <select name="Tamaño">
                                              <option value="mediana">Chica</option>
                                              <option value="grande">Grande</option>
                                              <option value="docena">Docena</option>
                                              <option value="mediadocena">Media Docena</option>
                                             </select>
                                     </div> -->
                                     <div class="input_field"> 
                                        <!-- Se agregaron dos precios small y big -->
                                        <label> Precio a Editar:</label>
                                        <input type='text' name="small_price" placeholder="Editar Precio del Producto" required value="<%=productToEdit.small_price%>"><br>
                                        <input type='text' name="big_price" placeholder="Editar Precio del Producto" required value="<%=productToEdit.big_price%>">
                                    </div>

                                </div>
                            </div>
                                <div>
                                    <input class="button" type="submit" value="Cargar Nueva Edición">
                                    
                                </div>
                        </form>
                        <form action="/Productos/<%=productToEdit.id%>?_method=DELETE" method="POST" >
                            <button type="submit" class="button">Eliminar</button>

                        </form>
                        <!--<input class="button" type="reset" value="Eliminar">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include ('./partials/footer') %> 
</body>
</html>