<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head', {titulo}) %>
  <link rel="stylesheet" href="/styles/product.css">
  <link rel="stylesheet" href="/styles/index.css">

  <body>
    <!-- arranca el header  -->
    <%- include ('./partials/header') %>
      <div class="p-selector-busqueda">
        <p>Ordenar por:</p>
        <article class="seleccionar">
          <select class="form-select" aria-label="Default select example" style=" text-align: left;">
            <option value="1">Precio mayor a menor</option>
            <option value="2">Precio menor a mayor</option>
            <option value="3">Producto mas vendido</option>
          </select>
        </article>
      </div>
      <main>
     <% if(msg) { %>
      <p><%=msg%></p>
      
     <% }else{%>
        <section class="prod-destacados">

          <div class="productos">
            <% for ( product of products) { %>
              <article>
                <div class="cont-img-card">
                  <img src="/img/products-img/<%=product.image%> " alt="<%=product.product_name%>" class="prod-img">
                </div>
                <div class="pie-articulo">
                  <i class="fa-regular fa-heart"></i>
                  <h4 class="descripcion"> <a href= "Productos/<%=product.id%>"><%=product.product_name%></a></h4>
                  <p class="precio">$<%=product.small_price%></p>
                  <div class="agregar-carrito">
                    <h5>Agregar al Carrito</h5>
                  </div>
                </div>
              </article>
              <%}%>
          </div>
        </section>
        <!--  Lo comento porque no se si iria este boton  -->
       <!-- <div class="mas-productos">
          <a href="/Productos">
            <h5>Ver más Productos</h5>
          </a>
        </div>-->
        <div class="main-banner">
          <div class="container-icons">
            <ul class="icons">
              <li id="icon1">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <p>Consultas y Pedidos <br>1122334455</p>
              </li>
              <li id="icon2">
                <i class="fa-solid fa-motorcycle"></i>
                <p>Envíos<br>CABA y GBA</p>
              </li>
              <li id="icon3">
                <i class="fa-regular fa-credit-card"></i>
                <p>Medios de Pago<br>Tarjeta, MercadoPago<br>y Efectivo</p>
              </li>
              <li id="icon4">
                <i class="fa-solid fa-lock"></i>
                <p>Compra Segura</p>
              </li>
            </ul>
            <ul class="banner-dots">
              <li>
                <a href="#icon1"> <i class="fa-solid fa-circle"></i></a>
              </li>
              <li>
                <a href="#icon2"> <i class="fa-solid fa-circle"></i></a>
              </li>
              <li>
                <a href="#icon3"> <i class="fa-solid fa-circle"></i></a>
              </li>
              <li>
                <a href="#icon4"> <i class="fa-solid fa-circle"></i></a>
              </li>
            </ul>
          </div>
        </div>
      <%}%>
      </main>
      <%- include ('./partials/footer') %>
  </body>

</html>