<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="/styles/productView.css">
    <link rel="stylesheet" href="/styles/index.css">

<body>
    <%- include ('./partials/header') %>
    <main>
        <form>
            <section class="c-cuerpo">
                <article class="c-producto">
                    <div class="c-imagen">
                    <img src="/img/products-img/<%=productView.image%>" alt="torta1"> 
                    </div>
                    <div class="c-descripcion">
                        <div class="c-izq">
                            <div class="c-description-wrap">
                                <h2 class="pv-p-name"><%=productView.product_name%> </h2> 
                                <span><%=productView.product_description%> </span>
                                
                                <h3 class="pv-final-price">$<%=productView.small_price%></h3>  
                                <div class="pv-full-form">
                               
                                    <span>
                                        Tamaño
                                    </span>
                                
                                <form name ='cantidades' action="/">
                                        <div class="pv-selector-button">
                                            <ul class="pv-radio-select">
                                                <li class="pv-input-container">
                                                    <label class="radio">
                                                        <input type="radio" name="cantidad" value = '<%=productView.small_price%>' class="input-radio" checked>
                                                        <% if (productView.category_id == 1 || productView.category_id == 2 ) { %>
                                                            <span class="pv-radio-span">Chico</span>
                                                        <%}else{%>
                                                            <span class="pv-radio-span">1/2 docena</span>
                                                            <%}%>
                                                    </label>    
                                                </li>
                                                <li class="pv-input-container">
                                                    <label class="radio">
                                                        <input type="radio" name="cantidad" value ='<%=productView.big_price%>' class="input-radio" >
                                                        <% if (productView.category_id == 1 ||productView.category_id == 2) { %>
                                                            <span class="pv-radio-span">Grande</span>
                                                        <%}else{%> 
                                                            <span class="pv-radio-span">1 docena</span>
                                                            <%}%>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pv-qty">
                                            <span>Cantidad</span><br>
                                            <div class="pv-qty-wrap">
                                                <div class="pv-nput-group-full-touchspin">
                                                    <span class="pv-input-group-btn">
                                                        <button name="qty" class="pv-btn-down" type="button">-
                                                        </button>
                                                    </span>
                                                    <!-- <span class="pv-input-group-touchspin"></span> -->
                                                    <input type="number" value="1" name="qty" class="pv-input-group-qty-number">
                                                    <!-- <span class="pv-input-group-touchspin"></span> -->
                                                    <span class="pv-input-group-btn">
                                                        <button name="qty" class="pv-btn-up" type="button">+
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div>
                </article>
            </section>
        </form>
    </main>
    <%- include ('./partials/footer') %>
</body>
</html>