<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>

    <%- include ('./partials/header') %>

    <main>
    <div class="r-container-main">
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Registro</h2>
                </div>
                <div class="row clearfix">
                    <div class="">
                        <form action="/Usuarios/register" method="post" enctype="multipart/form-data">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="user_name" placeholder="Nombre y Apellido">
                                <% if (locals.errors && errors.user_name) { %>
                                    <div class="text-danger">
                                        <%= errors.user_name.msg %>
                                    </div> <% }  %> <br>
                            </div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                                <input type="email" name="email" placeholder="Email">
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                        <%= errors.email.msg %>
                                    </div> <% }  %> <br>
                            </div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                <input type="password" name="user_password" minlength="8" placeholder="Contraseña">
                            </div>
                            <% if (locals.errors && errors.user_password) { %>
                                <div class="text-danger">
                                    <%= errors.user_password.msg %>
                                </div> <% }  %> <br>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                <input type="password" name="repeat_password" minlength="8" placeholder="Confirmar contraseña" >
                                <% if (locals.errors && errors.repeat_password) { %>
                                    <div class="text-danger">
                                        <%= errors.repeat_password.msg %>
                                    </div> <% }  %> <br>
                            </div>
                            <div class="row clearfix">
                                <div>
                                    
                                    <div class="input_field"> 
                                        <label for="avatar"class="input_field">Imagen de Perfil</label>
                                        <input type="file" name="avatar" placeholder="foto de perfil" >
                                    </div>
                                    <label class="r-c-box">
                                        <input type="checkbox" name="aceptoTerminosCondiciones"> Acepto los términos y condiciones
                                        <% if (locals.errors && errors.aceptoTerminosCondiciones) { %>
                                            <div class="text-danger">
                                                <%= errors.aceptoTerminosCondiciones.msg %>
                                            </div> <% }  %> <br>
                                    </label>
                                </div>
                            </div>
                            <input class="button" type="submit" value="Registrarte">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

    <%- include ('./partials/footer') %> 

</body>
</html>